<%= render "common/navbar" %>
<%= render "common/flashes" %>
<!--banner start-->
<div class="banner">
    <a href="/" target="_top">
        <img src="https://ww4.sinaimg.cn/large/006tKfTcly1fcsdnwioo3j318g0dwq48.jpg" alt="CGG"></a>
</a>
</div>
<!--banner end-->
<!--Snow Boots start-->
<div class="sn_section">
    <div class="g-row">
        <div class="m-cate">
            <header class="hd">
                <div class="left">
                    <h3 class="name">Snow Boots</h3>
                    <small class="frontName">当牛角扣遇见雪地靴，暖脚也暖心</small>
                </div>
                <div class="right">
                    <a class="moreItems" href="/all" >全部商品  &gt;</a>
                </div>
            </header>
            <div class="bd">
                <div class="sn_list">
                    <a class="sn_item first large " href="products/1" >
                        <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcscv4wtgvj30bo0bo0tp.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                    <a class="sn_item large middle " href="products/2">
                        <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fcsdoxshgyj30bo0bogm6.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                    <a class="sn_item small " href="products/3" >
                        <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcsdpk5bglj30eg05k74s.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                    <a class="sn_item small last" href="products/4">
                        <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcsdpi6oddj30eg05k74q.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Snow Boots end-->
<!--新品首发 start-->
<div class="m-newCates">
    <div class="g-row">
        <div class="m-newCate">
            <header class="hd">
                <div class="left">
                    <h3 class="name">新品首发</h3>
                    <small class="frontName">Warm me up, 更适合行走的雪地靴</small>
                </div>
                <div class="right">
                    <a class="getMore" href="/all">更多新品  &gt;</a>
                </div>
            </header>
            <div class="bd">
                <ul class="itemList">
                    <% @products.each do |product| %>
                        <li class="item">
                            <div class="m-product j-product">
                                <div class="hd">
                                    <!-- <a href="/" title="" target="_blank">
                                        <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcse3jvzcij30bo0boaar.jpg" alt="" class="j-lazyload img-lazyload img img-lazyloaded">
                                    </a> -->
                                    <%= link_to product_path(product) do %>
                                        <% if product.image.present? %>
                                            <%= image_tag(product.image.medium.url, class: "j-lazyload img-lazyload img img-lazyloaded") %>
                                        <% else %>
                                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "j-lazyload img-lazyload img img-lazyloaded") %>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="bd">
                                    <h4 class="name">
                                        <a class="name" title="<%= product.title %>" target="_blank">
                                            <span class="name">
                                                <%= link_to product_path(product) do %>
                                                    <%= product.title %>
                                                <% end %>
                                            </span>
                                        </a>
                                    </h4>
                                    <p class="price">
                                        <span>¥ <%= product.price %></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--新品首发 end-->
