<!DOCTYPE html>
<html>
    <head>
        <title>CGG - 更适合行走的雪地靴</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class="container-fluid">
            <%= yield %>
        </div>
        <%= render "common/footer" %>
    </body>
</html>
